<header class="header">
    <div class="container">
        <div class="header_inner">
            <img src="assets/img/logo.png" alt="logo" class="logo">
            <nav class="menu">
                <ul class="menu_item">
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Автомобили</a></li>
                    <li><a href="#">Бронирование авто</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main class="main" [ngStyle]="bgPos">
    <section class="info">
        <div class="container">
            <div class="info_inner">
                <h1 class="info-title">Аренда премиальных автомобилей</h1>
                <p class="info-text">В нашем клубе имеется солидная коллекция спортивных автомобилей — от достаточно
                    распространенных серийных машин до настоящего гоночного эксклюзива. Воспользуйтесь уникальной
                    возможностью побывать за рулем настоящей легенды и узнать, на что она способна за пределами
                    гоночной трассы!</p>
                <button class="button" id="info-button" (click)="goScroll(cars)">Посмотреть автомобили</button>
            </div>
        </div>
    </section>
    <section class="car" id="cars" #cars>
        <div class="container">
            <h2 class="sub_title">Наш автопарк</h2>
            <div class="car-toggle">
                <div [ngClass]="{active: category === 'sport'}" (click)="toggleCategory('sport')">Sport</div>
                <div [ngClass]="{active: category === 'luxury'}" (click)="toggleCategory('luxury')">Luxury</div>
            </div>
            <div class="car_gallery">
                <div class="car_gallery-inner" *ngFor="let car of carsData">
                    <img src="{{car.image}}" alt="Image" class="car-gallery-img">
                    <div class="car-gallery-title">{{car.name}}</div>
                    <div class="car-gallery-info">
                        <div class="car-gallery-point">
                            <img src="assets/img/transmission.png" alt="transmission" class="drive">
                            <p class="car-info-text1">Коробка</p>
                            <p class="car-info-text2">{{car.transmission}}</p>
                        </div>
                        <div class="car-gallery-point">
                            <img src="assets/img/Group.svg" alt="Group" class="drive">
                            <p class="car-info-text1">Двигатель</p>
                            <p class="car-info-text2">{{car.engine}} л.с.</p>
                        </div>
                        <div class="car-gallery-point">
                            <img src="assets/img/year.png" alt="year" class="drive">
                            <p class="car-info-text1">Год выпуска</p>
                            <p class="car-info-text2">{{car.year}}</p>
                        </div>
                    </div>
                    <button class="button car-button" (click)="goScroll(price, car)">Забронировать</button>
                </div>
            </div>
        </div>
    </section>
    <section class="car_price" id="price" #price>
        <div class="container">
            <div class="car_price_inner">
                <h2 class="sub_title">Узнать цену и забронировать</h2>
                <div class="car_price-text">Заполните данные, и мы перезвоним вам для уточнения всех деталей
                    бронирования</div>
                <form action="" class="car_price-form" [formGroup]="priceForm">
                    <input class="price-input" type="text" id="name" placeholder="Ваше имя" formControlName="name">
                    <input class="price-input" type="text" id="phone" placeholder="Ваш телефон" formControlName="phone">
                    <input class="price-input" type="text" id="car" placeholder="Автомобиль, который вас интересует"
                        formControlName="car">
                    <button class="button" type="button" id="price-action" (click)="onSubmit()"
                        [disabled]="!priceForm.valid">Узнать цену</button>
                </form>
                <img class="car_price-img" src="assets/img/rolls-jpg.png" alt="rolls" [ngStyle]="trans">
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="container">
        <div class="footer_inner">
            <img src="assets/img/logo.png" alt="logo" class="logo">
            <div class="footer_inner-text">Все права защищены</div>
        </div>
    </div>
</footer>